### Bags of Words

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

import pandas as pd

In [3]:
sentance1= '''
This is good Job. I will not miss it for anything.'''

sentance2= '''
This is not good at all. The good thing is that it is bad job.'''

sentance3= '''
Perfomance is always good as work. So do best perfomance.'''

In [4]:
#Create the Object

cv = CountVectorizer(stop_words='english')

In [5]:
bow = cv.fit_transform([sentance1,sentance2,sentance3])

In [6]:
cv.get_feature_names_out()

array(['bad', 'best', 'good', 'job', 'miss', 'perfomance', 'thing',
       'work'], dtype=object)

In [7]:
print(bow)

  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (1, 2)	2
  (1, 3)	1
  (1, 6)	1
  (1, 0)	1
  (2, 2)	1
  (2, 5)	2
  (2, 7)	1
  (2, 1)	1

In [8]:
#Create dataframe
cv_dataframe = pd.DataFrame(bow.toarray(), columns=cv.get_feature_names_out())

In [9]:
cv_dataframe.shape

(3, 8)

### N-Gram

In [34]:
#Create the Object

cv = CountVectorizer(stop_words='english',ngram_range=(2,2))

In [35]:
bow = cv.fit_transform([sentance1,sentance2,sentance3])

In [36]:
cv.get_feature_names_out()

array(['bad job', 'best perfomance', 'good good', 'good job',
       'good thing', 'good work', 'job miss', 'perfomance good',
       'thing bad', 'work best'], dtype=object)

In [37]:
print(bow)

  (0, 3)	1
  (0, 6)	1
  (1, 2)	1
  (1, 4)	1
  (1, 8)	1
  (1, 0)	1
  (2, 7)	1
  (2, 5)	1
  (2, 9)	1
  (2, 1)	1

In [38]:
#Create dataframe
cv_dataframe = pd.DataFrame(bow.toarray(), columns=cv.get_feature_names_out())

In [39]:
cv_dataframe

,bad job,best perfomance,good good,good job,good thing,good work,job miss,perfomance good,thing bad,work best
0,0,0,0,1,0,0,1,0,0,0
1,1,0,1,0,1,0,0,0,1,0
2,0,1,0,0,0,1,0,1,0,1